@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 10px 3px rgba(255, 0, 184, 0.44);
    }
    25% {
        box-shadow: 0 0 10px 3px rgba(255, 0, 184, 0.57);
    }
    50% {
        box-shadow: 0 0 10px 3px rgba(0, 239, 255, 0.47);
    }
    75% {
        box-shadow: 0 0 10px 3px rgba(255, 0, 184, 0.57);
    }
    100% {
        box-shadow: 0 0 10px 3px rgba(255, 0, 184, 0.44);
    }
}

@keyframes progressFulling {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.transform {
    transform: rotateY(180deg);
}
