$dark: #1f1f1f;
$black: #282828;
$brown: #934834;
$brownDark: #702f1e;
$violet: #74475e;
$violetDark: #583145;
$violetDarkness: #482838;
$grey: #9096bb;
$silver: #b9b8bd;
$blueDark: #312376;
$blue: #507fbf;
$green: #337b4b;
$greenDark: #135d30;
$yellow: #efba48;
$yellowBright: #f9d02e;
$yellowDark: #d09f3a;
$yellowLight: #ffe8a8;
$yellowVivid: #f7c824;
$orange: #ffa700;
$white: #ffffff;
$purple: #472B9C;
$hotPurple: #492d4d;
$cyanPurple: #492c9f;
$softViolet: #9968fe;
$darkViolet: #5431b2;
$blueViolet: #492c9f;
$lightRed: #ff4359;
$red: #e24731;
$magenta: #fdb0fd;
$veryDark: #151321;

